
<div class="container">
  <div class="row">
{{#each prod}}
    <div class="col-sm-6 col-md-4">
      <div class="shoppic">
         <img src="{{imagePath}}" alt="...">
         </div>
      <div class="caption">
        <h3>{{title}}</h3>
        <div class="price">{{price}}</div>
        <p>{{id}}</p>
        <div class="buy"> <a href="/Cart/{{id}}" class="btn btn-primary" role="button">Lägg till i kundvagn</a></div>
      </div>
    </div>
      {{/each}}
  </div>
</div>
  
  <form action="/webshop" method="POST">
  <input id="imagePath" name="imagePath" placeholder="imagePath" type="file">
  <input id="title" name="title" placeholder="title" type="text">
  <input id="price" name="price" placeholder="price" type="text">
  <button type="submit">save</button>
  </form>
   